# Informe CEV (v.2) - Page 7

### Import `PyMuPDF`

In [1]:
import pandas as pd
import re
import pytesseract
import fitz  # PyMuPDF

/home/roruizf/anaconda3/envs/data_env/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/roruizf/anaconda3/envs/data_env/lib/python3.9/site-packages/pandas/core/arrays/masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

### Load the PDF

In [2]:
pdf_file_path = '/mnt/c/Users/rober/OneDrive/8_DEVELOPMENT/cev-database-reports/data/raw/9/pdf_files/9_195_1_aa1400a4dbe6c3177ff044edce8b5585fb846445.pdf'
pdf_file_path = './1_5_1_c9cbda772da622dd1667027eef1b862a7d7209c8.pdf'
pdf_file_path = './1_113_2_0da232073435d32084842b8fd244ecdf37be7c25.pdf'
pdf_file_path = './Informe_CEV_v2.pdf'
#pdf_file_path = '/mnt/c/Users/rober/OneDrive/8_DEVELOPMENT/cev-database-reports/data/raw/1/pdf_files/1_113_1_0da70885817e546d34080a742d6bb2d99dff8091.pdf'
pdf_report = fitz.open(pdf_file_path)
page_number = 6  # Page number (starting from 0)
page = pdf_report[page_number]

## Pagina 7

In [3]:
def extract_text_from_area(page, area):
    """
    Extract text from a specific area of a PDF page.

    Args:
    - page (fitz.Page): Page object from which to extract text.
    - area (tuple): Tuple containing (x1, y1, x2, y2) coordinates of the area to extract text from.

    Returns:
    - extracted_text (str): Text extracted from the specified area.
    """
    extracted_text = ""
    try:
        # Clean the page contents to avoid misplaced item insertions
        page.clean_contents()

        # Pdf Report Dimensions
        report_width = 215.9  # mm
        report_height = 330.0  # mm

        # Get page dimensions
        width = page.rect.width
        height = page.rect.height

        # Normalize the coordinates
        x1, y1, x2, y2 = area
        rx1, ry1, rx2, ry2 = x1 / report_width, y1 / report_height, x2 / report_width, y2 / report_height

        # Define the rectangle area to extract text from
        rect = fitz.Rect(rx1 * width, ry1 * height, rx2 * width, ry2 * height)

        # Extract text from the specified area
        extracted_text = page.get_textbox(rect)
    except Exception as e:
        print(f"Error: {e}")

    return extracted_text

In [4]:
# Código evaluación energética
area_coordinates = (62.3, 30.7, 88.1, 35.1)  # Coordinates of the area to extract text from: (x1, y1, x2, y2)
extracted_text = extract_text_from_area(page, area_coordinates)
codigo_evaluacion = extracted_text
codigo_evaluacion

df = pd.DataFrame(data=[codigo_evaluacion], columns=['codigo_evaluacion'])
df

  codigo_evaluacion
0        4173d32018

In [5]:
# Mandante
area_coordinates = (27.3, 90.0, 97.0, 98.0)  # Coordinates of the area to extract text from: (x1, y1, x2, y2)
extracted_text = extract_text_from_area(page, area_coordinates)
extracted_text = extracted_text.split('\n')
df['mandante_nombre']  = extracted_text[0]
df['mandante_rut']  = extracted_text[1]
df

,codigo_evaluacion,mandante_nombre,mandante_rut
0,4173d32018,SERVICIO DE VIVIENDA Y URBANIZACION XI REGIO,61.823.000-7

In [6]:
# Evaluador Energético
area_coordinates = (130.4, 90.0, 208.7, 103.7)  # Coordinates of the area to extract text from: (x1, y1, x2, y2)
extracted_text = extract_text_from_area(page, area_coordinates)
extracted_text = extracted_text.split('\n')
df['evaluador_nombre']  = extracted_text[-3]
df['evaluador_rut']  = extracted_text[-2]
df['evaluador_rol_minvu']  = extracted_text[-1]
df

,codigo_evaluacion,mandante_nombre,mandante_rut,evaluador_nombre,evaluador_rut,evaluador_rol_minvu
0,4173d32018,SERVICIO DE VIVIENDA Y URBANIZACION XI REGIO,61.823.000-7,JEANETTE ALEJANDRA MATUS GEEREGAT,14.035.723-5,13770

In [7]:
df.T

                                                                0
codigo_evaluacion                                      4173d32018
mandante_nombre      SERVICIO DE VIVIENDA Y URBANIZACION XI REGIO
mandante_rut                                         61.823.000-7
evaluador_nombre                JEANETTE ALEJANDRA MATUS GEEREGAT
evaluador_rut                                        14.035.723-5
evaluador_rol_minvu                                         13770

In [8]:
# Close the PDF document
pdf_report.close()